h1{
text-align: center;
margin: auto;
padding: 50px;
}

p{
    text-align: center;
    margin-left: 100;
    margin-right: 100;
    padding-left:100px;
    padding-right:100px;

}

.mainElement{
    display: block;
}

#timer{
    float: right;
    margin-right: 20px;
}

.invisibleBtn{
    visibility: hidden;
    margin: 10px;
    margin-top: 60px;
}
h2{
    margin-top: 100px;
}